.container
  .comments-container

.container#article-show{data: {article_show_id: @article.id}}
  .article-comment-btn-show.add-comment-btn
    %i.fa.fa-comment-o{"aria-hidden" => "true"}
  .comment-text-area
    = text_area_tag :comment_content, '', class: 'sm'
