.container
  - @comments.each do |comment|
    .article-comment
      %p= comment.content

.container
  = link_to new_article_comment_path(@article) do
    .article-comment-btn-show
      %i.fa.fa-comment-o{"aria-hidden" => "true"}